In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
from matplotlib.font_manager import FontProperties
import json
font = FontProperties(fname='font/Times-Roman.ttf')
%matplotlib inline
plt.rcParams['font.sans-serif']=['SimHei'] # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False # 用来正常显示负号

In [15]:
# path = "/home/lx/Yelp_dataset/yelp_academic_dataset_business.json/"

In [ ]:
# data = pd.read_csv(path+"yelp_academic_dataset_business.json",sep="\t",header=None)

In [14]:
# business_filename = "/home/lx/Yelp_dataset/yelp_academic_dataset_business.json/yelp_academic_dataset_business.json"
# with open(business_filename,"r") as business_file:
# 	num=1
# 	for line in business_file.readlines():
# 		if(num>1):
# 			#处理business.txt
# 			if num%10000==0:
# 				print("business num:"+str(num))
# 			dict_line = json.loads(line) #json字符串转换成字典
# 			attributes=dict_line['attributes']
# 			if attributes:
# 				if "RestaurantsReservations" in attributes:
# 					new_business_filename="data/yelp_business.json"
# 					with open(new_business_filename,'a+') as new_business_file:
# 						new_business_file.write(line)
						
# 		num = num + 1
# business_file.close()

In [129]:
business_filename = "data/yelp_business.json"
close_num=0
id_and_review_count_and_label_filename="data/yelp_business_category_label.txt"

with open(business_filename,"r") as business_file:
    with open(id_and_review_count_and_label_filename,'a+') as id_and_review_count_and_label_file:
        num=1
        for line in business_file.readlines():
            if num%5000==0:
                print("reviews_num:"+str(num))
            dict_line = json.loads(line)
            business_id = dict_line['business_id']
            state= dict_line['state']
            review_count = dict_line['review_count']
            categories = dict_line['categories']
            label=dict_line['is_open']
            if label == 0:
                close_num+=1
            new_line=business_id+"\t"+str(state)+"\t"+str(review_count)+"\t"+str(label)+"\t"+str(categories)+"\n"
            id_and_review_count_and_label_file.write(new_line)
            num+=1
business_file.close()
id_and_review_count_and_label_file.close()

reviews_num:5000
reviews_num:10000
reviews_num:15000
reviews_num:20000
reviews_num:25000
reviews_num:30000
reviews_num:35000
reviews_num:40000
reviews_num:45000
reviews_num:50000
reviews_num:55000

In [130]:
data = pd.read_csv("data/yelp_business_category_label.txt",sep="\t",header=None)

In [131]:
data.columns = ['itemid','state','nums','label','category']

In [132]:
category = data[['category']]

In [62]:
# category_list

In [133]:
cate = []
A = ['sandwiches', 'burgers','fast','pizza','italian','american','bars','mexican','coffee','cafes','tea','chinese','taiwanese','japanese','thai','thailand']
for index, row in category.iterrows():
    line = row['category']
    line = line.replace(" ", ",")
    line = line.split(',')
    
    new = []
    for i in line:
        new.append(i.lower())
    
    # 求交集
    t = len(list(set(A).intersection(set(new))))
   
    if t==0:
        cate.append('Others')
        continue
    
    for i in new:
        if i == 'sandwiches':
            cate.append('Sandwiches')
            break
        elif i in ['burgers']:
            cate.append('Burgers')
            break
        elif i in ['fast']:
            cate.append('Fast')
            break
        elif i in ['pizza','italian']:
            cate.append('Italian')
            break
        elif i in ['american']:
            cate.append('American')
            break
        elif i in ['bars']:
            cate.append('Bars')
            break
        elif i in ['mexican']:
            cate.append('Mexican')
            break
        elif i in ['coffee','cafes','tea']:
            cate.append('Coffee & Tea')
            break
        elif i in ['chinese','taiwanese']:
            cate.append('Chinese')
            break
        elif i in ['japanese']:
            cate.append('Japanese')
            break
        elif i in ['thai','thailand']:
            cate.append('Thailand')
            break

In [134]:
new_category = pd.DataFrame(cate)
new_category.columns= ['new_category']

In [135]:
frame =[data,new_category]
df = pd.concat(frame,axis=1 )

In [163]:
# df = 
df[df['state']=='AZ'].describe()

               nums         label
count  11054.000000  11054.000000
mean     124.788945      0.667993
std      199.110578      0.470955
min        3.000000      0.000000
25%       20.000000      0.000000
50%       56.000000      1.000000
75%      149.000000      1.000000
max     3515.000000      1.000000

In [164]:
df

,itemid,state,nums,label,category,new_category
0,pQeaRpvuhoEqudo3uymHIQ,IL,5,1,"Ethnic Food, Food Trucks, Specialty Food, Impo...",Others
1,CsLQLiRoafpJPJSkNX2h5Q,NC,5,0,"Food, Restaurants, Grocery, Middle Eastern",Others
2,eBEfgOPG7pvFhb2wcG9I7w,ON,4,1,"Restaurants, Cheesesteaks, Poutineries",Others
3,lu7vtrp_bE9PnxWfA8g4Pg,ON,7,1,"Japanese, Fast Food, Food Court, Restaurants",Japanese
4,9sRGfSVEfLhN_km60YruTA,ON,3,1,"Persian/Iranian, Turkish, Middle Eastern, Rest...",Others
...,...,...,...,...,...,...
55356,YZeUH6zYS0dq5QHLYZhUnQ,AZ,106,1,"Nightlife, American (Traditional), Chicken Win...",American
55357,xVpE01l6ZXdEtVf5PkRpDg,WI,95,0,"Nightlife, Diners, Bars, Southern, Restaurants",Bars
55358,hskVqZCPqy-omm9CHi44xQ,NC,16,1,"Restaurants, Pizza, Sandwiches, Fast Food, Chi...",Italian
55359,9Q0fPWAjUweoFDk0kafuzQ,ON,5,0,"Japanese, Sushi Bars, Restaurants",Japanese
55360,SYa2j1boLF8DcGVOYfHPcA,AZ,97,1,"American (New), Food, Burgers, Restaurants, Fa...",American

In [159]:
def get_yelp_XY(df, city):
    if city != "":
        df = df[df['state']==city]
    dff = df.groupby(by=['label'])
    df0 = dff.get_group(0)
    df1 = dff.get_group(1)

    dicta = {}
    for k, v in df['new_category'].value_counts().items():
        dicta[k] = v
    
#     print(dicta)
    dict0 = {}
    for k, v in df0['new_category'].value_counts().items():
        dict0[k] = v
        #         dict0.append([k,v])
#     dict0 = np.array(dict0)
#     dict0 = dict0[np.lexsort(dict0[:,::-1].T)]
#     dict0=dict(dict0)
#     print(dict0)
#     dicta = dictionairy(dicta)
#     dict0 = dictionairy(dict0)
    X = []
    Y = []
#     dict0
    for k,v in dicta.items():
        if k in dict0:
            X.append(k)
            Y.append(dict0[k]/v)
        else :
            X.append(k)
            Y.append(0)
    
#     print(dicta)
#     print(dict0)
#     print(X0)
#     print(Y0)
    return X, Y

In [162]:
X0,Y0  = get_yelp_XY(df,"")
X1,Y1  = get_yelp_XY(df,"AZ")
X0

['Others',
 'Bars',
 'Italian',
 'American',
 'Sandwiches',
 'Fast',
 'Chinese',
 'Mexican',
 'Coffee & Tea',
 'Burgers',
 'Japanese',
 'Thailand']

In [120]:
Y

[0.3567122763371926,
 0.28101937269372695,
 0.2983425414364641,
 0.3463249961638791,
 0.25489727663640704,
 0.13778139408733386,
 0.32086499123319695,
 0.32842686292548295,
 0.29984496124031007,
 0.26298960831334933,
 0.35353535353535354,
 0.34026465028355385]

In [146]:
# cate

In [88]:
'A'.lower() == 'a'

True